Repository depromeet/15th-team3-FE, pull requests merged in 2024-09, with the labels that each got.

#193 fix: 모임원 없을 때 EmptyView 적용
  packages/web-domains/src/home/common/components/Layout/HomeLayout.tsx
  packages/web-domains/src/home/features/gather-member/containers/GatherMemberProfileListContainer.tsx
Labels: fix

#192 fix: 네비게이션 하단 터치시 하이라이트 제거
  packages/web-domains/src/common/styles/GlobalStyles.tsx
  packages/web-domains/src/home/common/components/Navigation/HomeNavigationTab.tsx
Labels: fix

#196 chore(*): labeler 워크플로우에 refactor 라벨 추가
  .github/labeler.yml
Labels: chore

#197 chore(*): pre-push .next 파일 제거하도록 추가
  .husky/pre-push
Labels: chore

#199 fix(web-domains): 결과 페이지 하단 여백 채우도록 수정
  packages/web-domains/src/result/common/components/Layout/BaseLayout.tsx
Labels: fix

#202 fix(web-domains): 마이프로필 내 취미 리스트 레이블 텍스트 수정
  packages/web-domains/src/about-me/features/components/HobbyList/HobbyList.tsx
Labels: auto approve, fix

#194 feat(sds, css-utils): ToopTip 컴포넌트 추가 및 getPadding 유틸 메서드 추가
  packages/core/css-utils/src/getPadding.ts
  packages/core/css-utils/src/index.ts
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/ToolTip/ToolTip.tsx
  packages/core/sds/src/components/ToolTip/index.ts
  packages/core/sds/src/components/ToolTip/styles.ts
  packages/core/sds/src/components/index.ts
Labels: auto approve, feat

#195 refactor(web-domains, react-utils): common ToopTip -> sds ToolTip으로 교체
  packages/core/react-utils/src/index.ts
  packages/core/react-utils/src/useSetTimeBoolean.ts
  packages/web-domains/src/common/components/ToolTip/RelayToolTipPolygon.tsx
  packages/web-domains/src/common/components/ToolTip/ToolTip.styles.ts
  packages/web-domains/src/common/components/ToolTip/ToolTip.tsx
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/ActiveQuestion.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.styles.ts
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/hooks/useToolTipShow.ts
Labels: refactor

#204 fix(web-domains): 결과 페이지 프로필 개수 버그 수정
  packages/web-domains/src/result/common/components/Layout/BaseLayout.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Content.tsx
  packages/web-domains/src/result/features/main/containers/MostAnsweredContainer.tsx
Labels: auto approve, fix

#205 fix(web-domains): 통계 페이지 background-color 적용 레벨 수정
  packages/web-domains/src/result/common/components/Layout/BaseLayout.tsx
Labels: auto approve, fix

#201 fix(web-domains): 유저 정보 수정 자기소개 정보 불러오기
  packages/web-domains/src/user/features/modify-user-info/components/ModifyIntroForm.tsx
  packages/web-domains/src/user/features/modify-user-info/containers/ModifyUserInfoContainer.tsx
Labels: fix

#203 fix(web-domains): 모임장/원 취미 정보 입력 페이지 디자인 정의서 업데이트
  packages/web-domains/src/user/features/get-user-info/components/Form/HobbiesInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/containers/GetUserHobbiesContainer.tsx
Labels: fix

#210 fix(web-domains): Checkbox selected 폰트 사이즈 변경
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/CheckboxLabel.tsx
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/CheckboxLabel.tsx
  packages/web-domains/src/user/features/get-user-info/components/Radio/RadioLabel.tsx
Labels: auto approve, fix

#209 fix(web-domains): 로그인 디자인 정의서 업데이트
  packages/web-domains/src/user/features/oauth-kakao-login/containers/LoginContainer.tsx
Labels: auto approve, fix

#191 fix: 검색 input focus borderColor
  packages/web-domains/src/home/features/gather-member/components/GatherMemberSearch/GatherMemberSearchInput.tsx
Labels: fix

#200 fix(web-domains): 반응형 UI 수정
  packages/core/css-utils/src/getMediaQuery.ts
  packages/core/css-utils/src/index.ts
  packages/web-domains/src/home/common/components/Navigation/HomeNavigationTab.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/GetMeetingInfo/GetMeetingInfo.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/GetMeetingInfo/Header.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/containers/GetMeetingInfoContainer.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/ClosingMessage.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/containers/NewMeetingClosingContainer.tsx
  packages/web-domains/src/onboarding/features/containers/FloatingButtonContainer/FloatingButtonContainer.tsx
  packages/web-domains/src/participate-meeting/common/assets/images/welcome-invite-meeting.png
  packages/web-domains/src/participate-meeting/common/assets/images/welcome-meeting.png
  packages/web-domains/src/participate-meeting/features/get-invite-code/components/BackgroundImage.tsx
  packages/web-domains/src/participate-meeting/features/get-invite-code/components/InviteCodeHeader.tsx
  packages/web-domains/src/participate-meeting/features/participate-meeting-closing/components/BackgroundImage.tsx
  packages/web-domains/src/participate-meeting/features/participate-meeting-closing/components/ClosingHeader.tsx
  packages/web-domains/src/participate-meeting/features/participate-meeting-closing/containers/ParticipateClosingContainer.tsx
  packages/web-domains/src/user/common/assets/icons/OnwerCharacter.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/BasicInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/ExtraInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/HobbiesInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/MbtiInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/styles.ts
  packages/web-domains/src/user/features/select-user-role/containers/SelectRoleContainer.tsx
  packages/web-domains/src/user/features/user-role-closing/containers/OwnerStartContainer.tsx
Labels: fix

#211 feat(web-domains): skeleton 및 confetti 적용
  packages/web-domains/package.json
  packages/web-domains/src/common/animates/Confetti.tsx
  packages/web-domains/src/common/animates/index.ts
  packages/web-domains/src/common/index.ts
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/ClosingMessage.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/containers/NewMeetingClosingContainer.tsx
  packages/web-domains/src/user/features/user-role-closing/containers/MemberClosingContainer.tsx
  pnpm-lock.yaml
Labels: feat

#206 fix(web-domains): Home Layout padding 변경, Empty View 삭제, 모임홈 디자인 정의서 업데이트
  packages/core/sds/src/components/Icon/assets/ConnectStar.tsx
  packages/web-domains/src/home/common/apis/schema/useGetProgressingQuestionQuery.type.ts
  packages/web-domains/src/home/common/components/Layout/HomeLayout.tsx
  packages/web-domains/src/home/common/constants/meetingActivatedLimit.ts
  packages/web-domains/src/home/features/floating-button/services/useFloatingButtonService.ts
  packages/web-domains/src/home/features/gather-member/components/GatherMemberProfile/GatherMemberProfile.tsx
  packages/web-domains/src/home/features/gather-member/containers/GatherMemberProfileListContainer.tsx
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
  packages/web-domains/src/home/features/progressing-question/services/useProgressingQuestionService.tsx
Labels: fix

#212 feat: 서브 타이틀 반영
  packages/web-domains/src/answer/common/apis/schema/Question.schema.ts
  packages/web-domains/src/answer/features/answer-question/components/AnswerQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/components/BalanceQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/components/MultipleDescriptiveAnswerQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/components/MultipleShortAnswerQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/containers/AnswerQuestionContainer.tsx
  packages/web-domains/src/common/components/Modal/Modal.tsx
Labels: feat

#214 fix: 답변 서브타이틀
  packages/web-domains/src/answer/common/apis/queries/useGetQuestion.ts
  packages/web-domains/src/answer/common/apis/schema/Question.schema.ts
  packages/web-domains/src/answer/features/answer-question/containers/AnswerQuestionContainer.tsx
  packages/web-domains/src/answer/screens/AnswerQuestionScreen.tsx
Labels: auto approve, fix

#215 fix(web-domains): HobbyList 레이아웃 수정
  packages/web-domains/src/about-me/features/components/HobbyList/styles.ts
Labels: auto approve, fix

#216 feat: 알림 타입 추가
  packages/web-domains/src/home/common/apis/schema/Notification.schema.ts
  packages/web-domains/src/home/features/notification/containers/AlarmListContainer.tsx
Labels: auto approve, feat

#217 chore(*): README에 Tech Stack 추가
  README.md
Labels: chore, auto approve

#218 refactor(*): 코멘트 input padding 보정 및 질문 생성 후 바로 답변하기 페이지 이동시 Skeleton
  packages/web-domains/src/answer/features/comment/components/CommentInput.tsx
  packages/web-domains/src/answer/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/answer/features/progressing-question/services/useProgressingQuestionService.tsx
  packages/web-domains/src/user/common/api/mutations/useModifyUserInfo.ts
Labels: auto approve, refactor

#219 fix: hotfix
  packages/web-domains/src/home/features/gather-member/services/useGatherMemberProfileListService.tsx
Labels: auto approve, fix

#223 chore(web): maze script 삽입
  apps/web/app/layout.tsx
  apps/web/scripts/MazeScript.tsx
  turbo.json
Labels: chore
