Repository depromeet/15th-team3-FE, pull requests merged in 2024-06, with the labels that each got.

#1 chore(*): pull_request_template, CODEOWNERS 추가
  .github/CODEOWNERS
  .github/pull_request_template.md
Labels: chore

#2 chore(*): auto-merge workflow 추가
  .github/CODEOWNERS
  .github/workflows/auto-merge.yml
Labels: auto approve, main merge

#4 fix(*): auto-merge workflow 수정
  .github/workflows/auto-merge.yml
Labels: auto approve, fix, main merge

#5 fix(*): auto-merge workflow 수정
  .github/workflows/auto-merge.yml
Labels: auto approve, fix, main merge

#7 fix(*): auto-merge workflow 수정
  .github/workflows/auto-merge.yml
Labels: auto approve, fix, main merge

#3 chore(*): 패키지 버전 설정 및, 파일 정리
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/app/favicon.ico
  apps/docs/app/fonts/GeistMonoVF.woff
  apps/docs/app/fonts/GeistVF.woff
  apps/docs/app/globals.css
  apps/docs/app/layout.tsx
  apps/docs/app/page.tsx
  apps/docs/next.config.mjs
  apps/docs/package.json
  apps/docs/postcss.config.mjs
  apps/docs/public/file-text.svg
  apps/docs/public/globe.svg
  apps/docs/public/next.svg
  apps/docs/public/vercel.svg
  apps/docs/public/window.svg
  apps/docs/tailwind.config.ts
  apps/docs/tsconfig.json
  apps/web/.gitignore
  apps/web/README.md
  apps/web/app/fonts/GeistMonoVF.woff
  apps/web/app/fonts/GeistVF.woff
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.module.css
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/postcss.config.mjs
  apps/web/public/file-text.svg
  apps/web/public/globe.svg
  apps/web/public/vercel.svg
  apps/web/public/window.svg
  apps/web/tailwind.config.ts
  packages/ui/package.json
  pnpm-lock.yaml
Labels: main merge

#13 chore: 패키지 name 변경 repo -> sambad
  apps/web/.eslintrc.js
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/eslint-config/package.json
  packages/typescript-config/package.json
  packages/ui/package.json
  pnpm-lock.yaml
Labels: chore, auto approve

#14 feat: 프로젝트 아키텍처 구축
  apps/web/app/page.tsx
  apps/web/app/second/page.tsx
  apps/web/package.json
  packages/core/eslint-config/README.md
  packages/core/eslint-config/library.js
  packages/core/eslint-config/next.js
  packages/core/eslint-config/package.json
  packages/core/eslint-config/react-internal.js
  packages/core/sds/.eslintrc.js
  packages/core/sds/README.md
  packages/core/sds/package.json
  packages/core/sds/src/.gitkeep
  packages/core/sds/tsconfig.json
  packages/core/sds/tsconfig.lint.json
  packages/core/typescript-config/base.json
  packages/core/typescript-config/nextjs.json
  packages/core/typescript-config/package.json
  packages/core/typescript-config/react-library.json
  packages/core/ui/.eslintrc.js
  packages/core/ui/package.json
  packages/core/ui/src/Button.tsx
  packages/core/ui/src/Card.tsx
  packages/core/ui/src/Code.tsx
  packages/core/ui/src/index.ts
  packages/core/ui/tsconfig.json
  packages/core/ui/tsconfig.lint.json
  packages/domains/.eslintrc.js
  packages/domains/README.md
  packages/domains/package.json
  packages/domains/src/common/.gitkeep
  packages/domains/src/first-domain/common/.gitkeep
  packages/domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestBox.tsx
  packages/domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/domains/src/first-domain/features/containers/FirstFeatureOfFirstDomainTestContainer.tsx
  packages/domains/src/first-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/domains/src/first-domain/features/services/useFirstFeatureOfFirstDomainTestService.ts
  packages/domains/src/first-domain/index.ts
  packages/domains/src/first-domain/screens/FirstDomainExampleScreen.tsx
  packages/domains/src/second-domain/common/.gitkeep
  packages/domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestBox.tsx
  packages/domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestButton.tsx
  packages/domains/src/second-domain/features/containers/FirstFeatureOfSecondDomainTestContainer.tsx
  packages/domains/src/second-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/domains/src/second-domain/features/services/useFirstFeatureOfSecondDomainTestService.ts
  packages/domains/src/second-domain/index.ts
  packages/domains/src/second-domain/screens/SecondDomainExampleScreen.tsx
  packages/domains/tsconfig.json
  packages/domains/tsconfig.lint.json
  packages/ui/turbo/generators/config.ts
  packages/ui/turbo/generators/templates/component.hbs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: auto approve, feat

#12 fix(*): auto-assignee-label 수정
  .github/labeler.yml
  .github/workflows/auto-assignee-label.yml
Labels: fix

#9 fix(*): auto-merge workflow 롤백 및 auto-approve 워크플로우 추가
  .github/workflows/auto-approve.yml
  .github/workflows/auto-merge.yml
Labels: auto approve, fix

#15 fix(*): auto-assignee-label 수정
  .github/labeler.yml
Labels: fix

#18 chore(*): workflow slack notification 추가
  .github/workflows/slack-notification.yml
Labels: chore, auto approve

#20 fix(*): slack notification 메시지 수정
  .github/workflows/slack-notification.yml
Labels: auto approve, fix

#25 fix(*): Comment MSG PR 링크 수정
  .github/workflows/slack-notification.yml
Labels: auto approve, fix

#16 chore(*): eslint-config, prettier, vscode setting.json 설정
  .github/labeler.yml
  .prettierrc.json
  .vscode/settings.json
  apps/web/.eslintrc.js
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/app/page.module.css
  apps/web/app/page.tsx
  apps/web/app/second/page.tsx
  apps/web/tsconfig.json
  packages/core/eslint-config/library.js
  packages/core/eslint-config/next.js
  packages/core/eslint-config/package.json
  packages/core/eslint-config/react-internal.js
  packages/core/sds/.eslintrc.js
  packages/core/sds/README.md
  packages/core/ui/.eslintrc.js
  packages/core/ui/src/Button.tsx
  packages/core/ui/src/Code.tsx
  packages/core/ui/src/index.ts
  packages/domains/.eslintrc.js
  packages/domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestBox.tsx
  packages/domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/domains/src/first-domain/features/containers/FirstFeatureOfFirstDomainTestContainer.tsx
  packages/domains/src/first-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/domains/src/first-domain/features/services/useFirstFeatureOfFirstDomainTestService.ts
  packages/domains/src/first-domain/index.ts
  packages/domains/src/first-domain/screens/FirstDomainExampleScreen.tsx
  packages/domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestBox.tsx
  packages/domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestButton.tsx
  packages/domains/src/second-domain/features/containers/FirstFeatureOfSecondDomainTestContainer.tsx
  packages/domains/src/second-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/domains/src/second-domain/features/services/useFirstFeatureOfSecondDomainTestService.ts
  packages/domains/src/second-domain/index.ts
  packages/domains/src/second-domain/screens/SecondDomainExampleScreen.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: chore

#26 fix(*): slack 알림 연동 워크플로우 수정
  .github/user-mapping.json
  .github/workflows/slack-notification.yml
  .github/workflows/slack-notify.yml
Labels: auto approve, fix

#31 fix(*): auto-assignee-label 토큰 환경변수 변경
  .github/workflows/auto-assignee-label.yml
Labels: auto approve, fix

#29 fix(*): pr-slack-noti workflow 수정
  .github/user-mapping.json
  .github/workflows/auto-approve.yml
  .github/workflows/pr-slack-noti.yml
  .github/workflows/reviewers.yml
  .github/workflows/slack-notify.yml
Labels: auto approve, fix

#33 chore(*): slack-noti 워크플로우 제거
  .github/workflows/pr-slack-noti.yml
  .github/workflows/reviewers.yml
Labels: chore, auto approve

#34 feat: vercel 배포 CI/CD
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
  tools/build.sh
  turbo.json
Labels: feat
