Repository depromeet/15th-team3-FE, pull requests merged in 2024-07, with the labels that each got.

#30 chore(*): 프로젝트 아키텍처 변경
  apps/web/.eslintrc.js
  apps/web/app/page.tsx
  apps/web/app/second/page.tsx
  apps/web/package.json
  apps/web/tsconfig.json
  packages/core/config/README.md
  packages/core/config/eslint/library.js
  packages/core/config/eslint/next.js
  packages/core/config/eslint/react-internal.js
  packages/core/config/package.json
  packages/core/config/typescript/base.json
  packages/core/config/typescript/nextjs.json
  packages/core/config/typescript/react-library.json
  packages/core/sds/.eslintrc.js
  packages/core/sds/README.md
  packages/core/sds/package.json
  packages/core/sds/src/components/Button.tsx
  packages/core/sds/src/components/Card.tsx
  packages/core/sds/src/components/Code.tsx
  packages/core/sds/src/index.ts
  packages/core/sds/src/theme/colors.ts
  packages/core/sds/tsconfig.json
  packages/core/sds/tsconfig.lint.json
  packages/core/typescript-config/package.json
  packages/core/ui/src/index.ts
  packages/core/ui/tsconfig.json
  packages/core/ui/tsconfig.lint.json
  packages/domains/.eslintrc.js
  packages/domains/package.json
  packages/domains/src/second-domain/common/.gitkeep
  packages/domains/tsconfig.lint.json
  packages/web-domains/.eslintrc.js
  packages/web-domains/README.md
  packages/web-domains/package.json
  packages/web-domains/src/common/.gitkeep
  packages/web-domains/src/first-domain/common/.gitkeep
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestBox.tsx
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/web-domains/src/first-domain/features/containers/FirstFeatureOfFirstDomainTestContainer.tsx
  packages/web-domains/src/first-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/web-domains/src/first-domain/features/services/useFirstFeatureOfFirstDomainTestService.ts
  packages/web-domains/src/first-domain/index.ts
  packages/web-domains/src/first-domain/screens/FirstDomainExampleScreen.tsx
  packages/web-domains/src/second-domain/common/.gitkeep
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestBox.tsx
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestButton.tsx
  packages/web-domains/src/second-domain/features/containers/FirstFeatureOfSecondDomainTestContainer.tsx
  packages/web-domains/src/second-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/web-domains/src/second-domain/features/services/useFirstFeatureOfSecondDomainTestService.ts
  packages/web-domains/src/second-domain/index.ts
  packages/web-domains/src/second-domain/screens/SecondDomainExampleScreen.tsx
  packages/web-domains/tsconfig.json
  pnpm-lock.yaml
Labels: chore

#37 refactor(*): eslint, typescript config 분리
  apps/web/.eslintrc.js
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/tsconfig.json
  package.json
  packages/core/config/eslint/next.js
  packages/core/config/eslint/react-internal.js
  packages/core/eslint-config/README.md
  packages/core/eslint-config/base.js
  packages/core/eslint-config/library.js
  packages/core/eslint-config/next.js
  packages/core/eslint-config/package.json
  packages/core/eslint-config/react-internal.js
  packages/core/sds/.eslintrc.js
  packages/core/sds/package.json
  packages/core/sds/src/components/Button.tsx
  packages/core/sds/tsconfig.json
  packages/core/typescript-config/base.json
  packages/core/typescript-config/nextjs.json
  packages/core/typescript-config/package.json
  packages/core/typescript-config/react-library.json
  packages/web-domains/.eslintrc.js
  packages/web-domains/package.json
  packages/web-domains/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: auto approve

#38 chore(*): cspell 의존성 및 설정 추가
  cspell.json
  package.json
  pnpm-lock.yaml
Labels: chore

#40 feat: 배포 워크플로우 고도화
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-test.yml
Labels: auto approve, feat

#41 fix: 배포 워크플로우 수정
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-test.yml
Labels: auto approve, fix

#42 fix: workflow 수정"
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-test.yml
Labels: auto approve

#44 chore: workflow 수정
  .github/workflows/deploy-integration.yml
Labels: chore, auto approve

#45 fix: workflow 수정
  .github/workflows/deploy-integration.yml
Labels: auto approve, fix

#46 fix: workflow 수정
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-target.yml
Labels: auto approve, fix

#47 fix: workflow 수정
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-target.yml
Labels: auto approve, fix

#48 fix: workflow 수정
  .github/workflows/deploy-integration.yml
Labels: auto approve, fix

#49 chore: test
  apps/web/app/page.tsx
Labels: chore, auto approve, test

#50 chore: 배포 테스트
  .github/workflows/deploy-dev.yml
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy.yml
  apps/web/app/page.tsx
Labels: chore, auto approve

#52 refactor: workflow
  .github/workflows/deploy-integration.yml
  .github/workflows/deploy-target.yml
Labels: auto approve

#39 chore(*): Husky 설정 추가
  .husky/post-merge
  .husky/pre-push
  apps/web/package.json
  package.json
  packages/core/eslint-config/base.js
  packages/core/sds/package.json
  packages/web-domains/package.json
  pnpm-lock.yaml
  turbo.json
Labels: chore

#54 chore(*): script init package
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  turbo/generators/config.ts
  turbo/generators/templates/eslintrc.hbs
  turbo/generators/templates/package.hbs
  turbo/generators/templates/tsconfig.hbs
Labels: chore

#53 chore(sds): 기본 디자인 토큰 세팅
  packages/core/sds/package.json
  packages/core/sds/src/index.ts
  packages/core/sds/src/theme/borderRadius.ts
  packages/core/sds/src/theme/colors.ts
  packages/core/sds/src/theme/index.ts
  packages/core/sds/src/theme/opacity.ts
  packages/core/sds/src/theme/shadow.ts
Labels: chore

#56 chore(*): post-merge 스크립트 변경
  .husky/post-merge
  package.json
Labels: chore

#57 feat(web): Tanstack Query 세팅 및 API 공통 메서드 작성
  .vscode/settings.json
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/next.config.mjs
  packages/core/eslint-config/base.js
  packages/core/eslint-config/package.json
  packages/core/eslint-config/react-internal.js
  packages/web-domains/package.json
  packages/web-domains/src/common/.gitkeep
  packages/web-domains/src/common/apis/base.api.ts
  packages/web-domains/src/common/apis/queries/useHealthCheckQuery.ts
  packages/web-domains/src/common/contexts/Providers.tsx
  packages/web-domains/src/common/contexts/QueryClientProvider.tsx
  packages/web-domains/src/common/index.ts
  packages/web-domains/src/first-domain/features/containers/FirstFeatureOfFirstDomainTestContainer.tsx
  packages/web-domains/src/first-domain/features/services/useFirstFeatureOfFirstDomainTestService.ts
  packages/web-domains/src/first-domain/screens/FirstDomainExampleScreen.tsx
  pnpm-lock.yaml
Labels: feat

#62 chore(sds): 추가된 디자인 토큰 반영
  packages/core/sds/src/theme/colors.ts
  packages/core/sds/src/theme/index.ts
  packages/core/sds/src/theme/size.ts
Labels: chore, auto approve

#59 chore(web, sds): Storybook & Chromatic 세팅
  .github/workflows/chromatic.yml
  .gitignore
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/.storybook/main.ts
  apps/web/.storybook/preview.ts
  apps/web/package.json
  apps/web/stories/FirstFeatureOfFirstDomainTestButton.stories.tsx
  packages/core/sds/.eslintrc.js
  packages/core/sds/.storybook/main.ts
  packages/core/sds/.storybook/preview.ts
  packages/core/sds/package.json
  packages/core/sds/src/components/Button.tsx
  packages/core/sds/src/stories/Button.stories.tsx
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/web-domains/src/first-domain/index.ts
  pnpm-lock.yaml
Labels: chore

#61 feat(*): GlobalStyles(Reset) 및 RootLayout 적용
  apps/web/app/globals.css
  apps/web/app/layout.tsx
  apps/web/tsconfig.json
  package.json
  packages/web-domains/src/common/apis/queries/useHealthCheckQuery.ts
  packages/web-domains/src/common/index.ts
  packages/web-domains/src/common/layout/RootLayout.styles.ts
  packages/web-domains/src/common/layout/RootLayout.tsx
  packages/web-domains/src/common/styles/GlobalStyles.tsx
  packages/web-domains/tsconfig.json
  pnpm-lock.yaml
Labels: feat, docs

#63 feat(sds): Txt 컴포넌트 추가
  packages/core/sds/package.json
  packages/core/sds/src/components/Typography/Txt.tsx
  packages/core/sds/src/components/Typography/index.ts
  packages/core/sds/src/components/Typography/styles.ts
  packages/core/sds/src/components/Typography/types.ts
  packages/core/sds/src/components/index.ts
Labels: feat

#64 feat(sds): Icon 컴포넌트 추가
  packages/core/sds/src/components/Icon/Icon.tsx
  packages/core/sds/src/components/Icon/assets/AngleDown.tsx
  packages/core/sds/src/components/Icon/assets/AngleLeft.tsx
  packages/core/sds/src/components/Icon/assets/AngleRight.tsx
  packages/core/sds/src/components/Icon/assets/AngleSmallDown.tsx
  packages/core/sds/src/components/Icon/assets/AngleSmallRight.tsx
  packages/core/sds/src/components/Icon/assets/AngleSmallUp.tsx
  packages/core/sds/src/components/Icon/assets/AngleUp.tsx
  packages/core/sds/src/components/Icon/assets/CaretDown.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/core/sds/src/components/Icon/index.ts
  packages/core/sds/src/components/Icon/types.ts
  packages/core/sds/src/components/index.ts
  packages/core/sds/src/index.ts
Labels: auto approve, feat

#65 feat(sds): 버튼 컴포넌트 추가
  packages/core/sds/package.json
  packages/core/sds/src/components/Button.tsx
  packages/core/sds/src/components/Button/Button.tsx
  packages/core/sds/src/components/Button/index.tsx
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/Button/types.ts
  packages/core/sds/src/components/Card.tsx
  packages/core/sds/src/components/Code.tsx
  packages/core/sds/src/components/Icon/Icon.tsx
  packages/core/sds/src/components/Typography/Txt.tsx
  packages/core/sds/src/components/index.ts
  packages/core/sds/src/index.ts
  packages/core/sds/src/stories/Button.stories.tsx
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestBox.tsx
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestBox.tsx
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestButton.tsx
Labels: auto approve, feat

#66 fix(sds): 버튼 컴포넌트 수정
  packages/core/sds/src/components/Button/Button.tsx
  packages/core/sds/src/components/Button/index.ts
  packages/core/sds/src/components/Button/index.tsx
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/Button/types.ts
  packages/core/sds/src/theme/borderRadius.ts
  packages/core/sds/src/theme/index.ts
Labels: fix, docs

#68 fix(sds): Txt 컴포넌트 fontWeight 오류
  packages/core/sds/src/components/Typography/Txt.tsx
Labels: auto approve, fix

#67 feat(sds): TextButton 구현
  packages/core/sds/src/components/TextButton/TextButton.tsx
  packages/core/sds/src/components/TextButton/index.ts
  packages/core/sds/src/components/TextButton/styles.ts
  packages/core/sds/src/components/TextButton/types.ts
  packages/core/sds/src/components/index.ts
Labels: auto approve, feat

#71 feat(web-domains): 공통 모달 컴포넌트
  apps/web/app/page.tsx
  apps/web/app/second/page.tsx
  apps/web/stories/FirstFeatureOfFirstDomainTestButton.stories.tsx
  packages/core/sds/src/components/Button/Button.tsx
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/TextButton/TextButton.tsx
  packages/core/sds/src/components/TextButton/styles.ts
  packages/web-domains/src/common/components/Modal/Modal.tsx
  packages/web-domains/src/first-domain/common/.gitkeep
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestBox.tsx
  packages/web-domains/src/first-domain/features/components/FirstFeatureOfFirstDomainTestButton.tsx
  packages/web-domains/src/first-domain/features/containers/FirstFeatureOfFirstDomainTestContainer.tsx
  packages/web-domains/src/first-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/web-domains/src/first-domain/features/services/useFirstFeatureOfFirstDomainTestService.ts
  packages/web-domains/src/first-domain/index.ts
  packages/web-domains/src/first-domain/screens/FirstDomainExampleScreen.tsx
  packages/web-domains/src/second-domain/common/.gitkeep
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestBox.tsx
  packages/web-domains/src/second-domain/features/components/FirstFeatureOfSecondDomainTestButton.tsx
  packages/web-domains/src/second-domain/features/containers/FirstFeatureOfSecondDomainTestContainer.tsx
  packages/web-domains/src/second-domain/features/hooks/useFirstFeatureOfFirstDomainTestButton.ts
  packages/web-domains/src/second-domain/features/services/useFirstFeatureOfSecondDomainTestService.ts
  packages/web-domains/src/second-domain/index.ts
  packages/web-domains/src/second-domain/screens/SecondDomainExampleScreen.tsx
Labels: feat

#73 feat: useQueryOptions 유틸타입
  apps/web/package.json
  package.json
  packages/core/eslint-config/base.js
  packages/core/sds/package.json
  packages/core/types-utils/.eslintrc.js
  packages/core/types-utils/README.md
  packages/core/types-utils/package.json
  packages/core/types-utils/tanstack/index.d.ts
  packages/core/types-utils/tsconfig.json
  packages/core/typescript-config/base.json
  packages/web-domains/package.json
  packages/web-domains/src/common/apis/queries/useHealthCheckQuery.ts
  pnpm-lock.yaml
Labels: feat

#76 fix: 커스텀 useQueryOPtions global declare 해제
  packages/core/eslint-config/base.js
  packages/core/types-utils/tanstack/index.d.ts
  packages/core/typescript-config/base.json
Labels: auto approve, fix

#74 fix: 모달 close 버그 수정
  packages/web-domains/src/common/components/Modal/Modal.tsx
Labels: auto approve, fix

#77 chore(web, web-domains, sds): tsconfing paths 설정
  apps/web/tsconfig.json
  packages/core/sds/tsconfig.json
  packages/web-domains/tsconfig.json
Labels: chore

#78 refactor(types-utils): UseQueryOptionsWithAxios 유틸 타입 추가
  packages/core/types-utils/package.json
  packages/core/types-utils/tanstack/index.d.ts
  pnpm-lock.yaml
Labels: refactor

#82 fix: alias 수정
  apps/web/tsconfig.json
Labels: fix

#83 fix: tsconfig
  apps/web/tsconfig.json
Labels: fix

#81 feat(sds): Badge 컴포넌트
  packages/core/sds/src/components/Badge/Badge.tsx
  packages/core/sds/src/components/Badge/index.ts
  packages/core/sds/src/components/Badge/styles.ts
  packages/core/sds/src/components/index.ts
Labels: feat

#86 fix(*): sds 절대경로 alias 추가
  apps/web/tsconfig.json
  packages/core/sds/src/components/Badge/Badge.tsx
  packages/core/sds/src/components/Badge/styles.ts
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/Icon/Icon.tsx
  packages/core/sds/src/components/TextButton/TextButton.tsx
  packages/core/sds/src/components/Typography/Txt.tsx
  packages/core/sds/tsconfig.json
Labels: auto approve, fix

#87 feat(sds): SegmentedControl 컴포넌트 추가
  packages/core/eslint-config/base.js
  packages/core/sds/package.json
  packages/core/sds/src/components/SegmentedControl/Item.tsx
  packages/core/sds/src/components/SegmentedControl/SegmentedControl.tsx
  packages/core/sds/src/components/SegmentedControl/constants.ts
  packages/core/sds/src/components/SegmentedControl/context.ts
  packages/core/sds/src/components/SegmentedControl/index.ts
  packages/core/sds/src/components/SegmentedControl/styles.ts
  packages/core/sds/src/components/index.ts
  packages/core/sds/src/hooks/index.ts
  packages/core/sds/src/hooks/useCallbackRef.ts
  packages/core/sds/src/hooks/useComposedRefs.ts
  packages/core/sds/src/hooks/useControllableState.ts
  packages/core/sds/src/hooks/useResizeObserver.ts
  packages/core/sds/src/utils/buildContext.tsx
  packages/core/sds/src/utils/composeEventHandlers.ts
  packages/core/sds/src/utils/index.ts
  pnpm-lock.yaml
Labels: feat

#85 feat: Pretendard 폰트 적용
  apps/web/app/layout.tsx
  apps/web/public/PretendardVariable.woff2
  package.json
  pnpm-lock.yaml
Labels: auto approve, feat
