Repository depromeet/15th-team3-FE, pull requests merged in 2024-08, with the labels that each got.

#89 feat(sds, react-utils): Accordion 컴포넌트 추가 및 react-utils 패키지 추가
  packages/core/react-utils/.eslintrc.js
  packages/core/react-utils/README.md
  packages/core/react-utils/package.json
  packages/core/react-utils/src/index.ts
  packages/core/react-utils/src/useId.ts
  packages/core/react-utils/tsconfig.json
  packages/core/react-utils/yarn.lock
  packages/core/sds/package.json
  packages/core/sds/src/components/Accordion/Accordion.tsx
  packages/core/sds/src/components/Accordion/Content.tsx
  packages/core/sds/src/components/Accordion/Item.tsx
  packages/core/sds/src/components/Accordion/Trigger.tsx
  packages/core/sds/src/components/Accordion/constants.ts
  packages/core/sds/src/components/Accordion/context.ts
  packages/core/sds/src/components/Accordion/index.ts
  packages/core/sds/src/components/Accordion/styles.ts
  packages/core/sds/src/components/index.ts
Labels: feat

#91 fix: sds tsconfig alias 수정
  apps/web/tsconfig.json
Labels: auto approve, fix

#90 feat: localhost self signed https 적용
  apps/web/.gitignore
  apps/web/package.json
  package.json
  turbo.json
Labels: feat

#92 fix: web-domains alias
  packages/web-domains/tsconfig.json
Labels: auto approve, fix

#93 feat: favicon 적용
  apps/web/app/favicon.ico
  apps/web/app/layout.tsx
  apps/web/public/next.svg
  apps/web/public/vercel.svg
Labels: auto approve, feat

#94 fix(web-domains): global-styles 수정
  packages/web-domains/src/common/styles/GlobalStyles.tsx
  pnpm-lock.yaml
Labels: fix

#96 feat(sds): Button hover 컬러 설정 및 leftDecor 스펙 추가
  packages/core/sds/src/components/Button/Button.tsx
  packages/core/sds/src/components/Button/styles.ts
Labels: feat

#98 chore(web): KakaoScript 추가 및 적용
  apps/web/app/layout.tsx
  apps/web/scripts/KakaoScript.tsx
  turbo.json
Labels: chore

#100 fix: 모바일 url 대응
  packages/web-domains/src/common/components/KakaoShare/generateKakaoShare.utils.ts
Labels: auto approve, fix

#97 feat(sds): Loader 컴포넌트 추가
  packages/core/sds/src/components/Loader/Loader.tsx
  packages/core/sds/src/components/Loader/constants.ts
  packages/core/sds/src/components/Loader/index.ts
  packages/core/sds/src/components/Loader/styles.ts
  packages/core/sds/src/components/Loader/types.ts
  packages/core/sds/src/components/index.ts
Labels: auto approve, feat

#103 feat(apps/web): GA4 Tag 추가
  apps/web/app/layout.tsx
  apps/web/package.json
  pnpm-lock.yaml
  turbo.json
Labels: auto approve, feat, docs

#88 feat(web-domains): about-me 페이지 구성 및 api 연동
  apps/web/app/about/[meetingMemberId]/page.tsx
  apps/web/app/about/me/page.tsx
  packages/core/sds/src/components/Icon/assets/SadUserIcon.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/package.json
  packages/web-domains/src/about-me/common/apis/queries/useGetAnswers.ts
  packages/web-domains/src/about-me/common/apis/queries/useGetAnswersMe.ts
  packages/web-domains/src/about-me/common/apis/queries/useGetMeetings.ts
  packages/web-domains/src/about-me/common/apis/queries/useGetMember.ts
  packages/web-domains/src/about-me/common/apis/queries/useGetMemberMe.ts
  packages/web-domains/src/about-me/common/apis/schema/MeetingMemberResponse.ts
  packages/web-domains/src/about-me/common/apis/schema/MeetingResponse.ts
  packages/web-domains/src/about-me/common/apis/schema/MyMeetingAnswerListReponse.ts
  packages/web-domains/src/about-me/features/components/HobbyList/HobbyItem.tsx
  packages/web-domains/src/about-me/features/components/HobbyList/HobbyList.tsx
  packages/web-domains/src/about-me/features/components/HobbyList/styles.ts
  packages/web-domains/src/about-me/features/components/IntroduceBox/IntroduceBox.tsx
  packages/web-domains/src/about-me/features/components/IntroduceBox/styles.ts
  packages/web-domains/src/about-me/features/components/Profile/Profile.tsx
  packages/web-domains/src/about-me/features/components/Profile/styles.ts
  packages/web-domains/src/about-me/features/components/Profile/utils.ts
  packages/web-domains/src/about-me/features/components/index.ts
  packages/web-domains/src/about-me/features/containers/AboutMeContainer.tsx
  packages/web-domains/src/about-me/features/containers/AnsweredQuestionsContainer.tsx
  packages/web-domains/src/about-me/features/containers/ProfileContainer.tsx
  packages/web-domains/src/about-me/features/containers/ScreenContainer.tsx
  packages/web-domains/src/about-me/features/containers/SegmentedControlContainer.tsx
  packages/web-domains/src/about-me/features/containers/constants.ts
  packages/web-domains/src/about-me/features/containers/styles.ts
  packages/web-domains/src/about-me/features/hooks/useGetAnswersByParams.ts
  packages/web-domains/src/about-me/features/hooks/useGetMemberByParams.ts
  packages/web-domains/src/about-me/features/hooks/useIsMyByParams.ts
  packages/web-domains/src/about-me/index.ts
  packages/web-domains/src/about-me/screens/AboutMeScreen.tsx
  packages/web-domains/src/common/components/EmptyView/EmptyView.tsx
  packages/web-domains/src/common/components/index.ts
Labels: feat

#105 fix(web-domains): 결과 페이지에서 CountByMemberList 컴포넌트 display 수정
  packages/web-domains/src/result/features/main/components/SelectedDataCard/styles.ts
Labels: auto approve, fix

#102 feat(sds): Skeleton 컴포넌트 추가
  packages/core/sds/src/components/Skeleton/Paragraphs.tsx
  packages/core/sds/src/components/Skeleton/Skeleton.tsx
  packages/core/sds/src/components/Skeleton/index.ts
  packages/core/sds/src/components/Skeleton/styles.ts
  packages/core/sds/src/components/index.ts
Labels: feat

#107 fix: webDomain basePath 함수 수정
  .github/workflows/deploy-integration.yml
  packages/web-domains/src/answer/common/components/Countdown/AnswerCountdown.tsx
  packages/web-domains/src/answer/common/components/Countdown/AnswerCountdownRender.tsx
  packages/web-domains/src/answer/features/answer-closing/containers/AnswerClosingContainer.tsx
  packages/web-domains/src/answer/features/answer-closing/services/useAnswerClosingService.ts
  packages/web-domains/src/answer/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/common/components/KakaoShare/generateKakaoShare.utils.ts
  packages/web-domains/src/common/getWebdomain.ts
  packages/web-domains/src/common/utils/getWebDomain.ts
  packages/web-domains/src/home/common/apis/queries/useGetTopPreviousQuestionList.ts
  packages/web-domains/src/home/features/notification/containers/NotificationContainer.tsx
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/InActiveCountdownRender.tsx
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/InActiveQuestion.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.tsx
Labels: auto approve, fix

#108 fix(sds): Skeleton.Paragraphs 누락된 ref 추가 및 타입 수정
  packages/core/sds/src/components/Skeleton/Paragraphs.tsx
Labels: fix

#113 feat: 나중에 답하기 api 연동
  packages/web-domains/src/common/apis/base.api.ts
  packages/web-domains/src/common/asset/comments.tsx
  packages/web-domains/src/common/asset/profile.tsx
  packages/web-domains/src/home/common/apis/mutations/useInActiveEventMutation.ts
  packages/web-domains/src/home/features/notification/components/ArrivedQuestionNotification.tsx
  packages/web-domains/src/home/features/notification/containers/NotificationContainer.tsx
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
Labels: auto approve, feat

#118 fix: 모임원 목록 bottom padding 추가
  packages/web-domains/src/home/features/gather-member/containers/GatherMemberProfileListContainer.tsx
Labels: auto approve, fix

#109 feat(web-domains): result, about 도메인 액션바 추가
  packages/core/eslint-config/base.js
  packages/web-domains/src/about-me/features/containers/ScreenContainer.tsx
  packages/web-domains/src/result/common/components/Layout/BaseLayout.tsx
  packages/web-domains/src/result/features/list/components/MemberListItem/styles.ts
  packages/web-domains/src/result/features/list/containers/AnswerListContainer.tsx
  packages/web-domains/src/result/features/list/containers/MostSelectedListContainer.tsx
  packages/web-domains/src/result/features/list/containers/SelectedSameListContainer.tsx
  packages/web-domains/src/result/features/main/screens/ResultMainScreen.tsx
  packages/web-domains/src/result/features/statistics/containers/StatisticsContainer.tsx
  packages/web-domains/src/result/features/statistics/screens/StatisticsScreen.tsx
Labels: feat

#110 fix(web-domains): Button size="large" 삽입
  apps/web/app/test/page.tsx
  packages/core/sds/src/components/Icon/assets/Upload.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/src/answer/features/floating-button/components/CommentButton.tsx
  packages/web-domains/src/common/components/KakaoShare/KakaoShareModal.tsx
  packages/web-domains/src/relay-question/assets/ShareGroupShareIcon.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/containers/StartQuestionContainer/StartQuestionContainer.tsx
Labels: fix

#111 fix(web-domains): 결과 페이지 레이아웃 수정 및 통계보기 버튼 아이콘 추가
  packages/core/sds/src/components/Icon/assets/Stats.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/src/result/common/components/Layout/BaseLayout.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Content.tsx
Labels: fix

#112 fix(web-domains): about 페이지에서 answers 리스트 중 comment가 없을 경우 렌더링하지 않도록 수정
  packages/web-domains/src/about-me/features/containers/AnsweredQuestionsContainer.tsx
  packages/web-domains/src/about-me/features/containers/styles.ts
Labels: fix

#101 feat(web): 500에러 컴포넌트 추가
  @types/images.d.ts
  packages/web-domains/src/common/components/Error/500.tsx
  packages/web-domains/src/common/components/Error/images/error.png
  packages/web-domains/src/common/components/Error/index.ts
  packages/web-domains/src/common/components/Error/styles.ts
  packages/web-domains/tsconfig.json
Labels: feat

#122 fix(sds): Button 컴포넌트 disabled 호버 스타일 및 active 스타일 추가
  apps/web/app/test/page.tsx
  packages/core/sds/src/components/Button/styles.ts
Labels: fix

#121 feat(web-domains): about 페이지 손 흔들기 기능 추가
  packages/web-domains/src/about-me/common/apis/mutates/useCreateHandWavings.ts
  packages/web-domains/src/about-me/common/apis/queries/useGetHandWavingsStatus.ts
  packages/web-domains/src/about-me/common/apis/schema/HandWavingStatusResponse.ts
  packages/web-domains/src/about-me/features/containers/ScreenContainer.tsx
  packages/web-domains/src/about-me/features/containers/styles.ts
  packages/web-domains/src/about-me/features/hooks/useGetFirstMeetingId.ts
Labels: feat

#124 refactor(web-domains): 릴레이 질문 시작 오프닝 페이지 백그라운드 svg 600px 대응
  packages/web-domains/src/relay-question/assets/RelayStartBackground.tsx
  packages/web-domains/src/relay-question/assets/ShareGroupBackground.tsx
  packages/web-domains/src/relay-question/features/share-group/components/CurrentQuestionInfo/CurrentQuestionInfo.styles.ts
  packages/web-domains/src/relay-question/features/share-group/components/CurrentQuestionInfo/CurrentQuestionInfo.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.styles.ts
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/containers/StartQuestionContainer/StartQuestionContainer.styles.ts
  packages/web-domains/src/relay-question/features/start-relay-question/containers/StartQuestionContainer/StartQuestionContainer.tsx
Labels: refactor

#127 fix: 모달 일러스트 제거
  packages/web-domains/src/home/features/floating-button/components/AlreadyAnsweredQuestionModal.tsx
  packages/web-domains/src/home/features/notification/components/ArrivedQuestionNotification.tsx
  packages/web-domains/src/home/features/notification/components/ExpiredQuestionNotification.tsx
  packages/web-domains/src/home/features/notification/components/SelectedTargetMemberNotification.tsx
  packages/web-domains/src/home/features/notification/containers/NotificationContainer.tsx
Labels: auto approve, fix

#128 feat(sds, css-utils): Checkbox 컴포넌트 추가
  packages/core/css-utils/src/getCssVar.ts
  packages/core/css-utils/src/index.ts
  packages/core/sds/package.json
  packages/core/sds/src/components/Checkbox/Checkbox.tsx
  packages/core/sds/src/components/Checkbox/index.ts
  packages/core/sds/src/components/Checkbox/styles.ts
  packages/core/sds/src/components/Icon/assets/Check.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/core/sds/src/components/index.ts
  pnpm-lock.yaml
Labels: auto approve, feat

#116 fix(web-domains, sds): 유저, 모임 생성, 모임 참여 1차 QA 수정
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/Checkbox.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/CheckboxLabel.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/styles.ts
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/GetMeetingInfo/GetMeetingInfo.tsx
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/Checkbox.tsx
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/CheckboxLabel.tsx
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/styles.ts
  packages/web-domains/src/user/features/get-user-info/components/Form/BasicInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/ExtraInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/HobbiesInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/MbtiInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Radio/Radio.tsx
  packages/web-domains/src/user/features/get-user-info/components/Radio/RadioLabel.tsx
  packages/web-domains/src/user/features/get-user-info/components/Radio/styles.ts
  packages/web-domains/src/user/features/oauth-kakao-login/components/KakaoLoginButton/KakaoLoginButton.tsx
Labels: fix

#129 feat(web-domains): Home 지면에서 툴팁 기능 추가
  packages/web-domains/src/common/components/ToolTip/RelayToolTipPolygon.tsx
  packages/web-domains/src/common/components/ToolTip/ToolTip.styles.ts
  packages/web-domains/src/common/components/ToolTip/ToolTip.tsx
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/ActiveQuestion.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
Labels: feat

#134 feat(web-domains): 온보딩
  apps/web/app/onboarding/page.tsx
  packages/web-domains/package.json
  packages/web-domains/src/onboarding/common/apis/mutations/useOnBoardingMutation.ts
  packages/web-domains/src/onboarding/common/assets/icons/HandIcon.tsx
  packages/web-domains/src/onboarding/common/assets/icons/HumanIcon.tsx
  packages/web-domains/src/onboarding/common/assets/icons/QuestionIcon.tsx
  packages/web-domains/src/onboarding/common/assets/images/bg-about-me.png
  packages/web-domains/src/onboarding/common/assets/images/bg-friendship.png
  packages/web-domains/src/onboarding/common/assets/images/bg-question.png
  packages/web-domains/src/onboarding/common/assets/images/bg-result.png
  packages/web-domains/src/onboarding/common/assets/images/onboarding-about-me.png
  packages/web-domains/src/onboarding/common/assets/images/onboarding-friendship.png
  packages/web-domains/src/onboarding/common/assets/images/onboarding-question.png
  packages/web-domains/src/onboarding/common/assets/images/onboarding-result.png
  packages/web-domains/src/onboarding/common/constants/steps.ts
  packages/web-domains/src/onboarding/features/components/BackGroundImage/BackGroundImage.tsx
  packages/web-domains/src/onboarding/features/components/Button/NextButton.tsx
  packages/web-domains/src/onboarding/features/components/Button/StartButton.tsx
  packages/web-domains/src/onboarding/features/components/Header/Header.tsx
  packages/web-domains/src/onboarding/features/components/Layout/OnBoardingLayout.tsx
  packages/web-domains/src/onboarding/features/components/OnBoardingContent/OnBoardingContent.tsx
  packages/web-domains/src/onboarding/features/components/ProgressIndicator/index.tsx
  packages/web-domains/src/onboarding/features/components/ProgressIndicator/styles.ts
  packages/web-domains/src/onboarding/features/components/ProgressIndicator/type.ts
  packages/web-domains/src/onboarding/features/containers/FloatingButtonContainer/FloatingButtonContainer.tsx
  packages/web-domains/src/onboarding/features/containers/OnBoardingContainer/OnBoardingAboutMeContainer.tsx
  packages/web-domains/src/onboarding/features/containers/OnBoardingContainer/OnBoardingContainer.tsx
  packages/web-domains/src/onboarding/features/containers/OnBoardingContainer/OnBoardingFriendShipContainer.tsx
  packages/web-domains/src/onboarding/features/containers/OnBoardingContainer/OnBoardingQuestionContainer.tsx
  packages/web-domains/src/onboarding/features/containers/OnBoardingContainer/onBoardingResultContainer.tsx
  packages/web-domains/src/onboarding/features/containers/ProgressIndicatorContainer/ProgressIndicatorContainer.tsx
  packages/web-domains/src/onboarding/image.d.ts
  packages/web-domains/src/onboarding/index.ts
  packages/web-domains/src/onboarding/screens/OnBoardingScreen.tsx
Labels: feat

#135 feat(web-domains): 유저 정보 수정
  apps/web/app/[meetingId]/user/modify/page.tsx
  packages/web-domains/src/user/common/api/mutations/useModifyUserInfo.ts
  packages/web-domains/src/user/common/api/schema/MeetingMemberResponse.ts
  packages/web-domains/src/user/features/get-user-info/containers/GetUserBasicInfoContainer.tsx
  packages/web-domains/src/user/features/get-user-info/containers/GetUserExtraInfoContainer.tsx
  packages/web-domains/src/user/features/modify-user-info/components/ModifyIntroForm.tsx
  packages/web-domains/src/user/features/modify-user-info/containers/ModifyUserInfoContainer.tsx
  packages/web-domains/src/user/features/modify-user-info/containers/ModifyUserIntroContainer.tsx
  packages/web-domains/src/user/features/modify-user-info/services/useModifyUserInfoService.ts
  packages/web-domains/src/user/index.ts
  packages/web-domains/src/user/screens/ModifyUserInfoScreen.tsx
Labels: feat

#131 refactor(*): 릴레이 질문 시작 지면 [meetingId] Dynamic Routing 대응
  apps/web/app/[meetingId]/select-relay-question/page.tsx
  apps/web/app/[meetingId]/share-group/page.tsx
  apps/web/app/[meetingId]/share-next-questioner/page.tsx
  apps/web/app/[meetingId]/start-relay-question/page.tsx
  apps/web/app/start-relay-question/page.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Question/Question.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionDetail/QuestionDetail.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Questioner/Questioner.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionerDetail/QuestionerDetail.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/ContentContainer/ContentContainer.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
  packages/web-domains/src/relay-question/features/share-group/hooks/useActiveQuestionQuery.ts
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/containers/StartQuestionContainer/StartQuestionContainer.tsx
  packages/web-domains/src/relay-question/screens/SelectRelayQuestionScreen.tsx
  packages/web-domains/src/relay-question/screens/ShareGroupScreen.tsx
  packages/web-domains/src/relay-question/screens/ShareNextQuestionerScreen.tsx
  packages/web-domains/src/relay-question/screens/StartRelayQuestionScreen.tsx
Labels: refactor

#136 refactor(web-domains): result 페이지 meetingId를 params로 처리 및 기존 코드 걷어내기
  apps/web/app/[meetingId]/question-result/[questionId]/answers/most-selected/page.tsx
  apps/web/app/[meetingId]/question-result/[questionId]/answers/page.tsx
  apps/web/app/[meetingId]/question-result/[questionId]/answers/same-selected/page.tsx
  apps/web/app/[meetingId]/question-result/[questionId]/page.tsx
  apps/web/app/[meetingId]/question-result/[questionId]/statistics/page.tsx
  packages/web-domains/src/result/common/apis/queries/useGetMeetings.ts
  packages/web-domains/src/result/common/apis/schema/MeetingResponse.ts
  packages/web-domains/src/result/common/hooks/useConvertTypeParams.ts
  packages/web-domains/src/result/common/types/BaseParams.ts
  packages/web-domains/src/result/features/list/containers/AnswerListContainer.tsx
  packages/web-domains/src/result/features/list/containers/MostSelectedListContainer.tsx
  packages/web-domains/src/result/features/list/containers/SelectedSameListContainer.tsx
  packages/web-domains/src/result/features/list/screens/AnswerListScreen.tsx
  packages/web-domains/src/result/features/list/screens/MostSelectedListScreen.tsx
  packages/web-domains/src/result/features/list/screens/SelectedSameListScreen.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Content.tsx
  packages/web-domains/src/result/features/main/containers/CommentListContainer.tsx
  packages/web-domains/src/result/features/main/containers/HeaderContainer.tsx
  packages/web-domains/src/result/features/main/containers/MostAnsweredContainer.tsx
  packages/web-domains/src/result/features/main/containers/WithMyMembersContainer.tsx
  packages/web-domains/src/result/features/main/screens/ResultMainScreen.tsx
  packages/web-domains/src/result/features/statistics/containers/StatisticsContainer.tsx
  packages/web-domains/src/result/features/statistics/screens/StatisticsScreen.tsx
Labels: auto approve, refactor

#120 fix(web-domains): 다음 질문인 카카오톡 공유하기 오지정 오류 해결
  packages/web-domains/src/relay-question/features/share-group/types/index.ts
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.tsx
Labels: fix

#138 refactor(web-domains): about 페이지 내 fetching meetingId -> params meetingId
  apps/web/app/[meetingId]/about/[meetingMemberId]/page.tsx
  apps/web/app/[meetingId]/about/me/modify/page.tsx
  apps/web/app/[meetingId]/about/me/page.tsx
  apps/web/app/about/[meetingMemberId]/page.tsx
  apps/web/app/about/me/modify/page.tsx
  apps/web/app/about/me/page.tsx
  packages/web-domains/src/about-me/common/apis/queries/useGetMeetings.ts
  packages/web-domains/src/about-me/common/apis/schema/MeetingResponse.ts
  packages/web-domains/src/about-me/features/containers/AnsweredQuestionsContainer.tsx
  packages/web-domains/src/about-me/features/containers/ProfileContainer.tsx
  packages/web-domains/src/about-me/features/containers/ScreenContainer.tsx
  packages/web-domains/src/about-me/features/hooks/useConvertTypeParams.ts
  packages/web-domains/src/about-me/features/hooks/useGetAnswersByParams.ts
  packages/web-domains/src/about-me/features/hooks/useGetFirstMeetingId.ts
  packages/web-domains/src/about-me/features/hooks/useGetMemberByParams.ts
  packages/web-domains/src/about-me/features/hooks/useIsMyByParams.ts
  packages/web-domains/src/about-me/screens/AboutMeModifyScreen.tsx
  packages/web-domains/src/about-me/screens/AboutMeScreen.tsx
Labels: auto approve, refactor

#139 fix(web-domains): 일부 색상 변경 및 스켈레톤 로딩 처리 (QA)
  packages/web-domains/src/about-me/common/apis/queries/useGetAnswersMe.ts
  packages/web-domains/src/about-me/features/components/Loading/AnsweredQuestionContainerSkeletons.tsx
  packages/web-domains/src/about-me/features/components/Loading/index.ts
  packages/web-domains/src/about-me/features/containers/ProfileContainer.tsx
  packages/web-domains/src/about-me/features/containers/SegmentedControlContainer.tsx
  packages/web-domains/src/about-me/features/containers/styles.ts
  packages/web-domains/src/relay-question/features/share-group/types/index.ts
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Content.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/styles.ts
  packages/web-domains/src/result/features/main/containers/WithMyMembersContainer.tsx
  packages/web-domains/src/result/features/statistics/components/RankList/Item.tsx
Labels: auto approve, fix

#137 feat(web, web-domains): not-found 페이지 추가
  apps/web/app/not-found.tsx
  packages/core/sds/src/components/Icon/assets/CrossCircle.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/src/common/components/Error/404.tsx
  packages/web-domains/src/common/components/Error/index.ts
  packages/web-domains/src/common/index.ts
Labels: feat

#143 fix(web-domains): about 페이지 자잘자잘 레이아웃 수정
  apps/web/app/not-found.tsx
  packages/core/sds/src/components/Accordion/Trigger.tsx
  packages/core/sds/src/components/Accordion/styles.ts
  packages/core/sds/src/components/Icon/assets/CrossCircle.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/src/about-me/features/containers/AboutMeContainer.tsx
  packages/web-domains/src/about-me/features/containers/AnsweredQuestionsContainer.tsx
  packages/web-domains/src/about-me/features/containers/styles.ts
  packages/web-domains/src/common/components/Error/404.tsx
  packages/web-domains/src/common/components/Error/index.ts
  packages/web-domains/src/common/index.ts
  packages/web-domains/src/home/features/my-profile/components/AboutMe.tsx
  packages/web-domains/src/home/features/my-profile/components/AnswerQuestions.tsx
Labels: auto approve, fix

#144 fix(web-domains): 답변 페이지 프로필 이미지, 버튼 사이즈 수정
  packages/web-domains/src/answer/common/components/Layout/AnswerOpeningLayout.tsx
  packages/web-domains/src/answer/features/floating-button/components/AnswerButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/HomeButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/ShareButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/StartButton.tsx
  packages/web-domains/src/answer/features/progressing-question/components/QuestionInfo.tsx
  packages/web-domains/src/answer/features/progressing-question/containers/ProgressingQuestionContainer.tsx
Labels: fix

#145 fix(web-domains): 아직 답변을 하지 않았을 경우 얼리 리턴처리하여 보이지 않도록 처리
  packages/web-domains/src/result/features/main/containers/WithMyMembersContainer.tsx
Labels: fix

#146 fix: 자기소개 수정시 릴레이 질문만 노출되도록 수정
  packages/web-domains/src/home/features/my-profile/containers/MyprofileContainer.tsx
Labels: fix

#147 fix(sds): Txt, TextButton 컴포넌트 기본 스타일은 스타일 오버라이드 시 우선순위가 높이 올라오지 않도록 css 처리
  packages/core/sds/src/components/TextButton/TextButton.tsx
  packages/core/sds/src/components/TextButton/styles.ts
  packages/core/sds/src/components/Typography/Txt.tsx
  packages/core/sds/src/components/Typography/styles.ts
Labels: auto approve, fix

#148 fix(web-domains): 답변한 질문이 없을 경우 수정완료 시 요청없이 라우팅만 할 수 있도록 수정
  packages/web-domains/src/answer/common/components/Layout/AnswerOpeningLayout.tsx
  packages/web-domains/src/answer/features/floating-button/components/AnswerButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/HomeButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/ShareButton.tsx
  packages/web-domains/src/answer/features/floating-button/components/StartButton.tsx
  packages/web-domains/src/answer/features/progressing-question/components/QuestionInfo.tsx
  packages/web-domains/src/home/features/my-profile/services/useMyprofileService.ts
Labels: auto approve, fix

#130 feat(sds): Button loading 스펙 추가
  packages/core/sds/src/components/Button/Button.tsx
  packages/core/sds/src/components/Button/styles.ts
  packages/core/sds/src/components/Spinner/Spinner.tsx
  packages/core/sds/src/components/Spinner/index.ts
  packages/core/sds/src/components/Spinner/styles.ts
  packages/core/sds/src/components/index.ts
Labels: feat

#141 refactor(relay-quesiton): word break, object-fit 등 자잘한 CSS 이슈 수정
  packages/web-domains/src/relay-question/features/select-relay-question/components/Question/Question.styles.ts
  packages/web-domains/src/relay-question/features/select-relay-question/components/Question/Question.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionDetail/QuestionDetail.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Questioner/Questioner.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionerDetail/QuestionerDetail.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/ContentContainer/ContentContainer.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
  packages/web-domains/src/relay-question/features/share-group/components/CurrentQuestionInfo/CurrentQuestionInfo.styles.ts
  packages/web-domains/src/relay-question/features/share-group/components/CurrentQuestionInfo/CurrentQuestionInfo.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.styles.ts
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.styles.ts
  packages/web-domains/src/relay-question/features/share-next-questioner/containers/ShareNextQuestionerContainer/ShareNextQuestionerContainer.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/components/Profile/Profile.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/containers/StartQuestionContainer/StartQuestionContainer.tsx
Labels: refactor

#152 fix: 모임장 생성시 질문 시작안되도록 변경
  packages/web-domains/src/home/features/floating-button/components/StartRelayQuestionButton.tsx
  packages/web-domains/src/home/features/floating-button/containers/FloatingButtonContainer.tsx
  packages/web-domains/src/home/features/floating-button/services/useFloatingButtonService.ts
  packages/web-domains/src/home/features/notification/containers/NotificationContainer.tsx
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/InActiveQuestion.tsx
  packages/web-domains/src/home/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/home/features/progressing-question/services/useProgressingQuestionService.tsx
Labels: auto approve, fix

#151 feat(web-domains/home): 알림탭에서 알림이 비어 있을 때 EmptyView 및 notification.additionalData null case 대응
  packages/web-domains/src/home/common/apis/schema/Notification.schema.ts
  packages/web-domains/src/home/features/notification/components/NotificationList.tsx
  packages/web-domains/src/home/features/notification/containers/AlarmListContainer.tsx
  packages/web-domains/src/home/features/notification/services/useAlarmListService.ts
Labels: feat

#153 fix(web-domains): 질문 선택 버튼 스타일 수정
  packages/web-domains/src/answer/features/answer-question/components/BalanceQuestion.tsx
Labels: fix

#150 fix(relay-question): 그룹 공유 클로징 페이지에서 모임 이름 대신 '삼봤드의 모험' 상수값으로 고정되어 있던 오류 수정
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
Labels: fix

#149 fix(web-domains): answers 리스트 페이지에서 프로필 클릭 시 잘못된 링크 수정
  packages/web-domains/src/result/features/list/components/MemberList/MemberList.tsx
Labels: fix

#155 fix(web-domains): 손 흔들기 버튼 최대 너비 수정
  packages/web-domains/src/about-me/features/containers/styles.ts
Labels: fix

#157 refactor(web-domains): Profile Image -> Avatar로 일괄 변경 및 objectFit: cover 적용
  packages/web-domains/src/about-me/features/components/Profile/Profile.tsx
  packages/web-domains/src/answer/features/progressing-question/components/QuestionInfo.tsx
  packages/web-domains/src/common/components/Avatar/Avatar.tsx
  packages/web-domains/src/home/features/gather-member/components/GatherMemberProfile/GatherMemberProfile.tsx
  packages/web-domains/src/home/features/previous-question/components/PreviousQuestion/PreviousQuestionItem.tsx
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/ActiveQuestion.tsx
  packages/web-domains/src/home/features/progressing-question/components/QuestionInfo/InActiveQuestion.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Questioner/Questioner.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionerDetail/QuestionerDetail.tsx
  packages/web-domains/src/relay-question/features/start-relay-question/components/Profile/Profile.tsx
  packages/web-domains/src/result/features/components/SelectedDataCard/Comment.tsx
  packages/web-domains/src/result/features/components/SelectedDataCard/Profile.tsx
  packages/web-domains/src/result/features/list/components/MemberListItem/MemberListItem.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Comment.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Profile.tsx
Labels: auto approve, refactor

#158 fix: 알림 인사하기 수락 OR 거절 버튼 상태에 따른 노출 처리 및 쿼리 invalidation
  packages/web-domains/src/home/common/apis/schema/Notification.schema.ts
  packages/web-domains/src/home/features/notification/containers/AlarmListContainer.tsx
  packages/web-domains/src/home/features/notification/services/useAlarmListService.ts
Labels: auto approve, fix

#159 fix: 아무도 답하지 않았을 때 결과페이지 대응
  packages/web-domains/src/result/features/main/containers/MostAnsweredContainer.tsx
Labels: auto approve, fix

#160 fix(web-domains): validation 추가 및 자잘한 에러 수정
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/CheckboxGroupImpl.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Checkbox/styles.ts
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/GetMeetingInfo/GetMeetingInfo.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/Radio/styled.ts
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/CheckboxGroupImpl.tsx
  packages/web-domains/src/user/features/get-user-info/components/Checkbox/styles.ts
  packages/web-domains/src/user/features/get-user-info/components/Form/BasicInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/ExtraInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/HobbiesInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Radio/styles.ts
  packages/web-domains/src/user/features/get-user-info/components/TextInput/TextInput.tsx
  packages/web-domains/src/user/features/modify-user-info/components/ModifyIntroForm.tsx
  packages/web-domains/src/user/features/select-user-role/components/RoleRadioButton.tsx
Labels: auto approve, fix

#161 fix: 모임 생성시 모임원 있어도 진행 못하는 이슈 수정
  packages/web-domains/src/home/features/floating-button/services/useFloatingButtonService.ts
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
  packages/web-domains/src/home/features/progressing-question/services/useProgressingQuestionService.tsx
Labels: auto approve, fix

#162 fix(web-domains): 모임 초대코드 공유 링크 수정
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/Button/InviteLinkShareButton.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/Button/ShareKakaoButton.tsx
Labels: fix

#163 fix(web-domains): 자기소개 정보 중 optional 데이터 대응
  packages/web-domains/src/about-me/common/apis/schema/MeetingMemberResponse.ts
  packages/web-domains/src/about-me/features/components/Profile/Profile.tsx
  packages/web-domains/src/about-me/features/containers/AboutMeContainer.tsx
  packages/web-domains/src/home/features/my-profile/components/AboutMe.tsx
Labels: auto approve, fix

#165 refactor(progressing-question): 이미 가입된 모임 초대 시 홈으로 리다이렉트 하도록 변경
  packages/web-domains/src/common/apis/queries/useGetMeetingName.ts
  packages/web-domains/src/participate-meeting/screens/ParticipateClosingScreen.tsx
Labels: auto approve, refactor

#164 fix: 모임생성시 생성된 모임으로 이동
  packages/web-domains/src/home/common/hooks/useSetCurrentMeeting.ts
  packages/web-domains/src/user/features/get-user-info/services/useMeetingMemberService.ts
Labels: auto approve, fix

#168 fix: 모임 생성 중복생성 방지
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
Labels: auto approve, fix

#166 refactor(web-domains): 카카오톡 공유하기 모달 이미지 및 멘트 등 각종 이슈 해결
  packages/web-domains/src/answer/features/answer-closing/containers/AnswerClosingContainer.tsx
  packages/web-domains/src/answer/features/answer-closing/services/useAnswerClosingService.ts
  packages/web-domains/src/common/components/KakaoShare/generateKakaoShare.utils.ts
  packages/web-domains/src/home/features/gather-member/containers/GatherMemberProfileListContainer.tsx
  packages/web-domains/src/home/features/gather-member/services/useGatherMemberProfileListService.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Question/Question.tsx
  packages/web-domains/src/relay-question/features/share-group/containers/CurrentRelayQuestionCountContainer/CurrentRelayQuestionCountContainer.tsx
Labels: auto approve

#169 fix: 릴레이 질문 시작 플로팅 버튼 링크 수정
  packages/web-domains/src/home/features/floating-button/components/StartRelayQuestionButton.tsx
Labels: auto approve, fix

#171 fix: QA 이슈 반영
  packages/web-domains/src/home/common/apis/queries/useGetNotification.ts
  packages/web-domains/src/home/common/hooks/useSetCurrentMeeting.ts
  packages/web-domains/src/home/features/notification/services/useAlarmListService.ts
  packages/web-domains/src/home/features/notification/services/useNotificationService.ts
  packages/web-domains/src/home/features/previous-question/containers/PreviousQuestionListContainer.tsx
  packages/web-domains/src/home/features/previous-question/services/usePreviousQuestionListService.tsx
  packages/web-domains/src/home/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/user/features/get-user-info/services/useCreateMeetingService.ts
Labels: auto approve, fix

#173 fix: meeting
  packages/web-domains/src/home/common/hooks/useSetCurrentMeeting.ts
  packages/web-domains/src/new-meeting/features/new-meeting-closing/containers/NewMeetingButtonContainer.tsx
  packages/web-domains/src/user/features/get-user-info/services/useCreateMeetingService.ts
  packages/web-domains/src/user/features/get-user-info/services/useMeetingMemberService.ts
Labels: auto approve, fix

#174 fix: 중복생성 방지
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/services/useMeetingMemberService.ts
Labels: auto approve, fix

#175 fix(home): 릴레이 질문 마지막으로 답변하고 바로 다음 질문 시작할 때 CTA 버튼 카운트 다운으로 보이는 이슈
  packages/web-domains/src/answer/features/comment/services/useCommentService.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/Button/InviteLinkShareButton.tsx
  packages/web-domains/src/new-meeting/features/new-meeting-closing/components/Button/ShareKakaoButton.tsx
Labels: fix

#176 fix: 답변 페이지 만료 대응
  packages/web-domains/src/answer/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/answer/features/progressing-question/services/useProgressingQuestionService.tsx
  packages/web-domains/src/answer/features/top-bar/containers/TopBarContainer.tsx
  packages/web-domains/src/common/components/ActionBar/ActionBar.tsx
  packages/web-domains/src/home/common/apis/mutations/useUpdateLastMeeting.ts
Labels: auto approve, fix

#178 fix(AlaramListContainer): 인사 무시하기 후 알림 footer가 남아있던 오류 해결
  packages/web-domains/src/home/features/notification/containers/AlarmListContainer.tsx
Labels: auto approve, fix

#179 fix(web-domains): 손 흔들기 상태에 따른 버튼 및 Avatar UI 처리
  packages/core/sds/src/components/Icon/assets/Star.tsx
  packages/core/sds/src/components/Icon/constants.ts
  packages/web-domains/src/about-me/features/components/Profile/Profile.tsx
  packages/web-domains/src/about-me/features/components/Profile/constants.ts
  packages/web-domains/src/about-me/features/components/Profile/styles.ts
  packages/web-domains/src/about-me/features/containers/ScreenContainer.tsx
  packages/web-domains/src/about-me/features/containers/constants.ts
Labels: auto approve, fix

#177 fix(web-domains): 온보딩 이후 모임 참여 redirect 수정
  apps/web/middleware.ts
  packages/web-domains/src/onboarding/common/assets/images/onboarding-about-me.png
  packages/web-domains/src/onboarding/features/components/Button/StartButton.tsx
  packages/web-domains/src/onboarding/screens/OnBoardingScreen.tsx
Labels: auto approve, fix

#180 feat(sds): Button loading 시 disabled 처리
  packages/core/sds/src/components/Button/Button.tsx
Labels: auto approve, feat

#181 fix(web-domains): 질문 답변 완료, 코멘트 답변 완료, 질문인 선택 post 요청 시 버튼 로딩 처리
  packages/web-domains/src/answer/features/comment/containers/CommentContainer.tsx
  packages/web-domains/src/answer/features/comment/services/useCommentService.tsx
  packages/web-domains/src/answer/features/floating-button/components/CommentButton.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Questioner/Questioner.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/QuestionerDetail/QuestionerDetail.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/hooks/mutations/usePostRelayQuestionInfo.ts
Labels: auto approve, fix

#182 fix(web-domains): 자기소개, 코멘트 validation 수정
  packages/web-domains/src/answer/features/comment/components/Comment.tsx
  packages/web-domains/src/answer/features/comment/components/CommentInput.tsx
  packages/web-domains/src/new-meeting/features/get-meeting-info/components/TextField/TextField.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/ExtraInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/get-user-info/components/TextInput/TextArea.tsx
  packages/web-domains/src/user/features/get-user-info/components/TextInput/TextInput.tsx
  packages/web-domains/src/user/features/modify-user-info/components/ModifyIntroForm.tsx
Labels: auto approve, fix

#183 fix(web-domains): 텍스트 관련 레이아웃 문제 수정
  packages/web-domains/src/answer/features/answer-question/components/MultipleDescriptiveAnswerQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/components/MultipleShortAnswerQuestion.tsx
  packages/web-domains/src/result/common/components/HeaderBanner/HeaderBanner.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/Comment.tsx
  packages/web-domains/src/result/features/main/components/SelectedDataCard/styles.ts
  packages/web-domains/src/result/features/statistics/components/RankList/Item.tsx
Labels: auto approve, fix

#184 fix(web-domains): 질문 답변 버튼 cursor 스타일 누락 수정
  packages/web-domains/src/answer/features/answer-question/components/MultipleDescriptiveAnswerQuestion.tsx
  packages/web-domains/src/answer/features/answer-question/components/MultipleShortAnswerQuestion.tsx
Labels: auto approve, fix

#185 fix(web-domains): 자기소개에 `\n` 포함 시 줄바꿈 되어 렌더링될 수 있도록 수정
  packages/web-domains/src/about-me/features/components/IntroduceBox/IntroduceBox.tsx
Labels: auto approve, fix

#186 fix(web-domains): 자기소개 empty 처리 조건 보강
  packages/web-domains/src/home/features/my-profile/components/AboutMe.tsx
Labels: auto approve, fix

#187 fix(web-domains): 자기소개 수정 초기 데이터 불러오기
  packages/web-domains/src/about-me/common/apis/schema/MeetingMemberResponse.ts
  packages/web-domains/src/user/features/get-user-info/components/Form/IntroInfoForm.tsx
  packages/web-domains/src/user/features/modify-user-info/components/ModifyIntroForm.tsx
  packages/web-domains/src/user/features/modify-user-info/containers/ModifyUserInfoContainer.tsx
Labels: auto approve, fix

#188 feat(*): 로딩 시 스켈레톤 적용
  packages/core/sds/src/components/Skeleton/styles.ts
  packages/web-domains/src/answer/features/progressing-question/components/Skeleton/ProgressingQuestionContainerSkeleton.tsx
  packages/web-domains/src/answer/features/progressing-question/containers/ProgressingQuestionContainer.tsx
  packages/web-domains/src/answer/features/progressing-question/services/useProgressingQuestionService.tsx
  packages/web-domains/src/home/common/hooks/useSetCurrentMeeting.ts
  packages/web-domains/src/home/features/previous-question/components/Skeleton/PreviousQuestionListContainerSkeleton.tsx
  packages/web-domains/src/home/features/previous-question/containers/PreviousQuestionListContainer.tsx
  packages/web-domains/src/home/features/previous-question/services/usePreviousQuestionListService.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Skeleton/NextQuestionerListSkeleton.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/components/Skeleton/QuestionListSkeleton.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/ContentContainer/ContentContainer.tsx
  packages/web-domains/src/relay-question/features/select-relay-question/containers/RandomPickContainer/RandomPickContainer.tsx
Labels: feat

#189 chore(*): README.md 추가
  README.md
Labels: chore, auto approve
